.aboutWrapper {
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  .aboutTitle {
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
    color: var(--text);
    @media screen and (max-width: 767px) {
      font-size: 30px;
      line-height: 40px;
    }
    @media screen and (max-width: 576px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
  @media screen and (max-width: 576px) {
    padding-bottom: 20px;
  }
}
.aboutSubtitle {
  font-size: 20px;
  line-height: 31px;
  font-weight: 300;
  color: var(--textOp);
  margin: 20px 0 0;
  text-align: center;
  @media screen and (max-width: 576px) {
    font-size: 15px;
    line-height: 25px;
    margin: 0px 0 0;
  }
}
.aboutsecondtitle {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  color: var(--text);
  text-align: center;
  @media screen and (max-width: 576px) {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}
.AboutImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  // padding: 10px;
  margin-bottom: 50px;
  img {
    border-radius: 20px;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 20px;
    border-radius: 10px;
    img {
      border-radius: 10px;
    }
  }
}

// page grid

.pageGrid {
  display: grid;
  grid-template-areas:
    "expe expe years years"
    "expe expe project client";
  gap: 20px;
  grid-template-columns: 200px 200px 1fr 1fr;
  @media screen and (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-areas:
      "years years years years"
      "expe expe project project"
      "expe expe client client";
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: auto;
    grid-template-areas:
      "years years years years"
      "expe expe expe expe"
      "project project client client";
  }
}
.pageCol {
  border-radius: 12px;
}
.pageExp {
  grid-area: expe;
}
.pageyears {
  grid-area: years;
}
.pageproejct {
  grid-area: project;
}
.pageclient {
  grid-area: client;
}
.pagecalpadding {
  padding: 30px;
  position: relative;
  @media screen and (max-width: 576px) {
    padding: 20px 15px;
  }
}
.counterNumber {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  grid-area: 2px;
  color: var(--text);
  @media screen and (max-width: 576px) {
    font-size: 35px;
    margin-bottom: 0;
  }
}
.pageColTitleyears {
  color: var(--textOp);
}
.pageColTitle,
.pageColTitleyears {
  font-size: 30px;
  color: var(--textOp);
  font-weight: 600;
  @media screen and (max-width: 576px) {
    font-size: 18px;
  }
}
.yrsContant {
  display: flex;
  align-items: baseline;
  gap: 20px;
  @media screen and (max-width: 576px) {
    gap: 10px;
  }
}
.yearText {
  font-size: 13px;
  line-height: 18px;
  color: var(--textOp);
}
