.GridContainer {
  margin: 50px 0 20px;
  border-radius: 14px;
  display: grid;
  grid-template-areas: "expe skill social";
  gap: 20px;
  grid-template-columns: 350px 1fr 1fr;
  .GridCol {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }
  .GridCol1 {
    grid-area: expe;
  }
  .GridCol2 {
    grid-area: skill;
    padding-bottom: 77px;
  }
  .GridCol3 {
    grid-area: social;
  }
  @media screen and (max-width: 992px) {
    grid-template-areas:
      "expe expe expe expe"
      "skill skill social social";
    grid-template-columns: auto;
  }
  @media screen and (max-width: 767px) {
    grid-template-areas:
      "expe"
      "skill"
      "social";
    grid-template-columns: auto;
  }
  @media screen and (max-width: 576px) {
    margin: 20px 0 20px;
  }
}
.shadowConainer {
  padding: 30px;
  @media screen and (max-width:576px) {
    padding:20px 15px;
  }
}
.animTitle {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text);
}
.educationWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  .eductype {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 13px;
    transition: 0.3s all;
    color: var(--text);
  }
  .collegeName {
    margin: 11px 0 0;
  }
  .collegeName,
  .passout {
    font-size: 13px;
    line-height: 18px;
    color: var(--textOp);
  }
}

.resumeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-top: 30px;
  gap: 30px;
}

// skill css
.techSkillContainer {
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  @media screen and (max-width:576px) {
    padding: 20px 15px;
  }
}
.techTitle {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
.techtop {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 15px;
}
.techExp {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  color: var(--textOp);
  .years {
    font-size: 11px;
    color: var(--textOp);
  }
}
.gap10 {
  gap: 35px 58px;
  margin-top: 30px;
}
.progressBar {
  backdrop-filter: blur(63px);
  background-image: radial-gradient(
    146.13% 118.42% at 50% -15.5%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.16) 100%
  );
  position: relative;
  border-radius: 10px;
  height: 10px;
  width: 100%;
  margin-top: 10px;
}

.fillBar {
  background: linear-gradient(90deg, #fff801 0%, #ff8c01 100%);
  height: 10px;
  width: 0;

  border-radius: 10px;
}

.tooltip {
  position: absolute;
  top: -19px;
  font-size: 11px;
  line-height: 9px;
  font-weight: bolder;
  color: #000;
  border-radius: 2px;
  text-align: center;
  padding: 3px 3px;
  width: 32px !important;
  height: 16px;
  background: linear-gradient(90deg, #fff801 0%, #ff8c01 100%);
  letter-spacing: 0.5px;
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 16px;
    width: 8px;
    height: 8px;
    background: linear-gradient(90deg, #fff801 0%, #ff8c01 100%);
    transform: rotate(124deg);
    z-index: -1;
  }
}
