.text_color {
  font-size: 17px;
  line-height: 30px;
  color: var(--textOp);
  @media screen and (max-width: 767px) {
    font-size: 15px;
  line-height: 25px;
  }
}
.nameDetailWrapp {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 1100px) {
    gap: 10px;
  }
  @media screen and (max-width: 992px) {
    gap: 30px;
  }
  @media screen and (max-width: 767px) {
    gap: 30px;
    flex-direction: column;
  }
  h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 25px;
    color: var(--text);
    text-transform: capitalize;
  }
  .font25 {
    font-size: 13px;
    line-height: 25px;
  }
}
.educationWrapper {
  @media screen and (max-width: 992px) {
    margin-left: 140px;
  }
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}
.detailWrapper {
  position: relative;
  @media screen and (max-width: 992px) {
    flex-direction: column;
    row-gap: 20px;
  }
}
.contactList {
  gap: 10px;
  @media screen and (max-width: 1100px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 0;
    margin: 15px 0;
  }
}
.Resumesocial1 {
  padding: 0 10px;
  @media screen and (max-width: 576px) {
    padding: 0;
    border: 0 !important;
  }
}

.title {
  color: var(--text);
  font-size: 25px;
  font-weight: 600;
}
.Rcontainer,
.resumeContent {
  position: relative;
  width: 100%;
}

.socalName {
  span {
    font-size: 13px !important;
    line-height: 25px;
  }
}

// skills
.skillList,
.companyHeader {
  backdrop-filter: blur(63px);
  background-image: radial-gradient(
    146.13% 118.42% at 50% -15.5%,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.16) 100%
  );
  padding: 1px;
}
.skillListIn,
.companyHeaderIn {
  background: #0f1115;
  box-shadow: rgba(255, 255, 255, 0.06) 0px 0.362176px 0.507046px -0.75px inset,
    rgba(255, 255, 255, 0);
}
.companyHeaderIn {
  @media screen and (max-width: 576px) {
    gap: 7px;
  }
}
.SkillsName {
  font-size: 16px;
  line-height: 25px;
  color: var(--textOp);
  font-weight: 600;
}
.companyHeaderIn,
.companyHeader {
  border-radius: 8px;
}
.exp {
  font-size: 16px;
  color: var(--text);
  line-height: 25px;
  font-weight: 600;
}
.duration {
  font-size: 13px;
  color: var(--textOp);
  font-weight: 600;
}
.text_edu {
  font-size: 13px;
  line-height: 25px;
  display: flex;
  gap: 5px;
  strong {
    color: var(--textOp);
    display: inline-block;
    width: 80px;
  }
  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    margin-bottom: 20px;
    row-gap: 0;
    strong {
      width: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.yearExp {
  font-size: 10px;
  color: var(--textOp);
  display: inline-block;
  margin-left: 4px;
}

.companyName {
  font-size: 20px;
  line-height: 30px;
  color: var(--textOp);
  font-weight: 600;
  @media screen and (max-width: 576px) {
    font-size: 15px;
    line-height: 20px;
  }
}
.leftBox {
  width: 160px;
  @media screen and (max-width: 992px) {
    width: 130px;
  }
}
.rightBox {
  width: calc(100% - 250px);
  @media screen and (max-width: 992px) {
    width: calc(100% - 130px);
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    ul {
      padding-left: 0px !important;
    }
  }
}
.divi {
  left: 155px;
  width: 2px;
  height: calc(100% - 35px);
  top: 20px;
  border-radius: 4px;
  background: var(--textOp);
  @media screen and (max-width: 992px) {
    left: 124px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.diviCard {
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
.dots {
  position: relative;
  color: var(--text);
}

.dots::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 5px;
  border-radius: 50%;
  background-color: #949494;
  right: 1px;
  z-index: 2;
  box-shadow: inset 0px 0px 6px #949494, 0px 0px 10px #9b9b9d;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.text {
  line-height: 20px;
}
.edutitle {
  font-size: 25px;
  margin-bottom: 15px;
  line-height: 25px;
}

.menuLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background: red;
  padding: 5px 10px;
  border-radius: 2px;
}
.stickeyHeader {
  padding: 40px 0;
}

.whatsbtn {
  border: 3px solid #ff9a00;
  border-radius: 24px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsbtnp {
  margin: 0;
  padding: 6px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  background: linear-gradient(90deg, #fff801 0%, #ff8c01 100%);
  border-radius: 20px;
  border: 2px solid #f6cd08;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s all;
  box-shadow: inset 0px 0px 21px #f64108, 0px 0px 21px #f64108;
  svg {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
  }
}
.whatsbtn:hover {
  .whatsbtnp {
    background: #fff;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.framer {
  background: #ff8c01;
  height: 20px;
  align-content: center;
  border-radius: 5px;
  padding: 2px;
}
.nextjs {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
}

.html,
.css {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
